@model EditProductViewModel
@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Product.ProductID" />
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <div><span asp-validation-for="Product.Name" class="text-danger"></span></div>
        <input asp-for="Product.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Description"></label>
        <div><span asp-validation-for="Product.Description" class="text-danger"></span></div>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductCategory"></label>
        <select asp-for="Product.ProductCategory" asp-validation-for="Product.ProductCategory" class="custom-select">
            @foreach (var category in Model.AllCategories)
            {
                <option value=@category.Name>@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <div><span asp-validation-for="Product.Price" class="text-danger"></span></div>
        <input asp-for="Product.Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
