<h2>Your cart</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-left">Quantity</th>
            <th class="text-left">Item</th>
            <th class="text-left">Price</th>
            <th class="text-left">Subtotal</th>
            <th class="text-left">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let line of cart.lines">
            <td class="text-center">{{line.quantity}}</td>
            <td class="text-center">{{line.product.name}}</td>
            <td class="text-center">{{line.product.price}}</td>
            <td class="text-center">
                {{line.quantity * line.product.price}}
            </td>
            <td>
                <div>
                    <button (click)="removeFromCart(line.product)" id="{{line.product.productID}}" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-center total-price">
                {{total}}
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" routerLink="/">Continue shopping</a>
    <a class="btn btn-primary" routerLink="/checkout">
        Checkout
    </a>
</div>

